# Work In Progress

# Gathering Data

The Global Surface Temperature Change data distributed by the National Aeronautics and Space Administration Goddard Institute for Space Studies (NASA-GISS) is publicly available. The FAOSTAT Temperature Change domain includes some extra information in this data set like Area names. Because in this project our key value is country names, I chose to use FAO's data set.

Data in the Temperature Change domain can be reachable from the Food and Agriculture Organization of the United Nations' web data portal². According to the license of FAO Statistical Database Terms of Use, the data set can be used for research, statistical, and scientific purposes. It can be access, download, create copies and re-disseminated datasets subject to these Dataset Terms.

The FAOSTAT Temperature Change domain disseminates statistics of mean surface temperature change by country, with annual updates. The current dissemination covers the period 1961–2019. Statistics are available for monthly, seasonal and annual mean temperature anomalies, i.e., temperature change with respect to a baseline climatology, corresponding to the period 1951–1980. The standard deviation of the temperature change of the baseline methodology is also available.² It includes areas of all the countries and territories of the world. (In 2019: 190 countries and 37 other territorial entities) The data covers monthly, seasonal, yearly temperature changes as Celsius degrees °C between 1961 and 2019. The frequency of dissemination and Release calendar of the data is the yearly base. The format is a comma-separated value (CSV) file, has the tabular format and 6.3 megabytes. It includes 9656 rows and 66 columns.
While the first seven columns include information about temperature changes, the other columns show temperature change numbers between 1961 and 2019. And, all years have some missing values. When I examine the first seven columns detail;

- Area Code: The numerical code of area column, type of area code is an integer.
- Area: Countries and Territories (In 2019: 190 countries and 37 other territorial entities.), type of area is an object.
- Months Code: The numerical code of months column, type of months code is an integer.
- Element Code: The numerical code of element column, type of element code is an integer.
- Element: 'Temperature change', 'Standard Deviation', type of element is an object.
- Unit: Celsius degrees °C, type of unit is an object.

In [1]:
import pandas as pd
import numpy as np

In [2]:
file_1 = '/content/drive/MyDrive/Environment_Temperature_change_E_All_Data_NOFLAG.xlsx'

file_2 = '/content/drive/MyDrive/FAOSTAT_data_11-24-2020.csv'

In [3]:
df_1 = pd.read_excel(file_1)
df_2 = pd.read_csv(file_2)

In [4]:
df_1.head()

   Area Code         Area  Months Code    Months  ...  Y2016  Y2017  Y2018  Y2019
0          2  Afghanistan         7001   January  ...  3.416  1.201  1.996  2.951
1          2  Afghanistan         7001   January  ...  1.950  1.950  1.950  1.950
2          2  Afghanistan         7002  February  ...  2.251 -0.323  2.705  0.086
3          2  Afghanistan         7002  February  ...  2.597  2.597  2.597  2.597
4          2  Afghanistan         7003     March  ...  2.296  0.834  4.418  0.234

[5 rows x 66 columns]

In [5]:
df_2.head()

   Country Code        Country  M49 Code  ... ISO3 Code Start Year  End Year
0             2    Afghanistan       4.0  ...       AFG        NaN       NaN
1          5100         Africa       2.0  ...       X06        NaN       NaN
2           284  Åland Islands     248.0  ...       ALA        NaN       NaN
3             3        Albania       8.0  ...       ALB        NaN       NaN
4             4        Algeria      12.0  ...       DZA        NaN       NaN

[5 rows x 7 columns]

In [6]:
df_1.columns

Index(['Area Code', 'Area', 'Months Code', 'Months', 'Element Code', 'Element',
       'Unit', 'Y1961', 'Y1962', 'Y1963', 'Y1964', 'Y1965', 'Y1966', 'Y1967',
       'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972', 'Y1973', 'Y1974', 'Y1975',
       'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980', 'Y1981', 'Y1982', 'Y1983',
       'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988', 'Y1989', 'Y1990', 'Y1991',
       'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996', 'Y1997', 'Y1998', 'Y1999',
       'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015',
       'Y2016', 'Y2017', 'Y2018', 'Y2019'],
      dtype='object')

In [7]:
df_1 = df_1[
            np.delete(np.array(df_1.columns),[0,2,4,6])
] #don't touch him

In [8]:
df_1.head()

          Area    Months             Element  Y1961  ...  Y2016  Y2017  Y2018  Y2019
0  Afghanistan   January  Temperature change  0.777  ...  3.416  1.201  1.996  2.951
1  Afghanistan   January  Standard Deviation  1.950  ...  1.950  1.950  1.950  1.950
2  Afghanistan  February  Temperature change -1.743  ...  2.251 -0.323  2.705  0.086
3  Afghanistan  February  Standard Deviation  2.597  ...  2.597  2.597  2.597  2.597
4  Afghanistan     March  Temperature change  0.516  ...  2.296  0.834  4.418  0.234

[5 rows x 62 columns]

In [9]:
def getIndexes(dfObj, value): 
    listOfPos = [] 
    result = dfObj.isin([value]) 
    seriesObj = result.any() 
    columnNames = list(seriesObj[seriesObj == True].index) 
    for col in columnNames: 
        rows = list(result[col][result[col] == True].index)  
        for row in rows: 
            listOfPos.append(row)     
    return listOfPos

In [10]:
d = dict()
for i in df_1['Area'].unique():
  index = getIndexes(df_2,i)
  if len(index) == 0:
    temp = 316
  else:
    temp = index[0]
  for j in getIndexes(df_1,i):
    d[j] = (df_2[['ISO3 Code']].loc[temp])[0]

In [11]:
ISO_CODE = list(d.values())

In [12]:
df_1['ISO_CODE'] = ISO_CODE

In [13]:
df_1.head()

          Area    Months             Element  ...  Y2018  Y2019  ISO_CODE
0  Afghanistan   January  Temperature change  ...  1.996  2.951       AFG
1  Afghanistan   January  Standard Deviation  ...  1.950  1.950       AFG
2  Afghanistan  February  Temperature change  ...  2.705  0.086       AFG
3  Afghanistan  February  Standard Deviation  ...  2.597  2.597       AFG
4  Afghanistan     March  Temperature change  ...  4.418  0.234       AFG

[5 rows x 63 columns]